.home{
    background-image: url("assets/home.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.rainy{
    background-image: url("assets/rainy.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.hltext{
    color: white;
    text-shadow:
    -2px -2px 0 #000000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
    font-weight: bold;
}
p{
    font-size: xx-large;
    text-align: left;
}
.icon{
    align-self: center;
}
.search-box{
    width: 100%;
    height: min-content;
    align-items: center;
    justify-content: space-between;
  
    color: white;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.search-box::placeholder{
    font-size: 15px;
    font-weight: 500;
    color: whitesmoke;
}

.details{
   padding-left: 8px;
   margin-right: 8px;
}
table{
    display: inline-block;
}